
<div class="container mt-4">
  <h3>Appointment</h3>

  <div class="form-group mb-2">
    <label>Patient Name</label>
    <input type="text" class="form-control" [(ngModel)]="patientName">
  </div>

  <div class="form-group mb-2">
    <label>Patient contact</label>
    <input type="text" class="form-control" [(ngModel)]="patientContact">
  </div>

  <div class="form-group mb-2">
    <label>Department</label>
    <select class="form-select" [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()">
      <option value="">-- Select Department --</option>
      <option *ngFor="let c of departments" [value]="c.id">{{ c.name }}</option>
    </select>
  </div>

  <div class="form-group mb-2">
    <label>Doctor</label>
    <select class="form-select" [(ngModel)]="selectedDoctor" (change)="onDoctorChange()">
      <option value="">-- Select Doctor --</option>
      <option *ngFor="let d of doctors" [value]="d.id">{{ d.name }}</option>
    </select>
  </div>

  <div class="form-group mb-2">
    <label>Schedule Slot</label>
    <select class="form-select" [(ngModel)]="selectedScheduleSlot" (change)="onScheduleSlotChange()">
      <option value="">-- Select Schedule Slot --</option>
      <option *ngFor="let d of scheduleSlot" [value]="d.id">{{ d.name }}</option>
    </select>
  </div>

  <!-- <div class="form-group mb-3">
    <label>Police Station</label>
    <select class="form-select" [(ngModel)]="selectedPoliceStation">
      <option value="">-- Select Police Station --</option>
      <option *ngFor="let ps of policeStations" [value]="ps.id">{{ ps.name }}</option>
    </select>
  </div> -->

  <button class="btn btn-primary" (click)="saveAppoinmrnt()">Save Address</button>
</div>
